.bak
.bikey
.hemttout
.lnk
.md
.txt
.vscode/*
@*
*.biprivatekey
*.cache
*.pbo
*.sqfc
*.swo
*.swp
*.zip
ArmaScriptCompiler.exe
CHANGELOG.md
extensions/vcproj32/*
extensions/vcproj64/*
hemtt
hemtt.exe
pohja.sqf
release/*
releases/*
sqfvm.exe
template/*
texHeaders.bin
Thumbs.db
tools/temp